<!-- <<p>directives works!</p>

<div *ngIf="IsShow">
    <p>{{city}}</p>
</div>

<div *ngFor="let carName of cars">
    {{carName}}
</div>
<div class="div-container"></div>


<div class="Info adminCls">
I like pune 
</div>

<div [ngClass]="{'adminCls': user =='Admin', 
                  'mentorcls': user =='Mentor',
                  'studentcls': user =='Student'}">
                  welcome all !
                
                </div>

                <button (click)="getData">getData</button>
> -->

<div class="table-cont">
    <h1>Table</h1>
        <Table class="table-content">
            <tr>
                <th *ngFor="let headings of tableHeading">{{headings}}</th>
            </tr>
            <tr *ngFor="let data of tableData">
                <td>{{data.name}}</td>
                <td>{{data.contact}}</td>
                <td>{{data.city}}</td>
                <td>{{data.age}}</td>
            </tr>
        </Table>
</div>